{% extends 'base.html' %}

{% block styled %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
  <div class="container">
    <h3>Principais Notícias do Dia</h3>
    <div class="list-noticias">
      
      {% for ntc in news %}
        <div class="noticia">
          <h4 onclick="window.location.href = '/noticia/{{ntc.id}}'">{{ntc.title}}</h4>
          <div class="infos-de-baixo">
            <p>{{ntc.tag}} - Gustavo</p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block infos %}
<title>TechNews | Página Inicial</title>
<meta name="author" content="Gustavo Rocha">
<meta name="keywords" content="notícias, atualizações, portal de notícias">
    <meta name="description" content="Portal de Notícias - Fique por dentro das últimas notícias e atualizações do mundo da programação!">

{% endblock %}