{% extends 'base.html' %}

{% block styled %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/noticia.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <h3>{{artigo.title}}</h3>
  <p onclick="window.location.href='/tag/{{artigo.tag}}'" class="tag">{{artigo.tag}}</p>
  <hr>
  <p>
    {{artigo.content | safe}}
  </p>
</div>
{% endblock %}

{% block infos %}
<title>TechNews | {{artigo.title}}</title>
<meta name="author" content="Gustavo Rocha">
<meta name="keywords" content="notícias, atualizações, portal de notícias, {{artigo.tag}}">
    <meta name="description" content="Descubra mais clicando no link">

{% endblock %}